.li.grid.grid-cols-5.w-full.text-center.bg-gray-200.my-5.py-5.rounded-md.text-3xl.border.border-gray-300
 %p #{ flight.departure_ap.code }
 %p #{ flight.arrival_ap.code }
 %p #{ flight.date }
 %p #{ flight.formatted_departure}
 %p #{ flight.formatted_duration }
